body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1100px; /*diminuir para o login?*/
    overflow-x: auto; /* rolagem*/
}

.title-container {
    
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar título e imagem horizontalmente */
    margin-bottom: 20px;
    
}

.title-container h1 {
    margin-right: 10px;
}

img {
    width: 50px;
    height: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

button:hover {
    color: white;
}

button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

button:hover::before {
    top: -30px;
    left: -30px;
}

/* Class for the delete button to maintain its red color */
button.deletar {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button.deletar:hover {
    background-color: #c82333;
}

button.deletar::before {
    background: #dc3545;
}

button.deletar:hover::before {
    background: #c82333;
}
